/* $ANIMATIONS --------------------------------------------------------------------------------------------------- */
  @-webkit-keyframes loader {
  	0% { background: #ddd; }
  	33% { background: $lightGray; box-shadow: 0 0 1px $lightGray, 15px 30px 1px $lightGray, -15px 30px 1px #ddd; }
  	66% { background: $lightGray; box-shadow: 0 0 1px $lightGray, 15px 30px 1px #ddd, -15px 30px 1px $lightGray; }
  }

  @-moz-keyframes loader {
  	0% { background: #ddd; }
  	33% { background: $lightGray; box-shadow: 0 0 1px $lightGray, 15px 30px 1px $lightGray, -15px 30px 1px #ddd; }
  	66% { background: $lightGray; box-shadow: 0 0 1px $lightGray, 15px 30px 1px #ddd, -15px 30px 1px $lightGray; }
  }

  @keyframes loader {
  	0% { background: #ddd; }
  	33% { background: $lightGray; box-shadow: 0 0 1px $lightGray, 15px 30px 1px $lightGray, -15px 30px 1px #ddd; }
  	66% { background: $lightGray; box-shadow: 0 0 1px $lightGray, 15px 30px 1px #ddd, -15px 30px 1px $lightGray; }
  }
