	.container {
		width:960px;
		margin:0 auto;
		clear:both;
		display:block;
		position:relative;
	}
	.column {
		width:940px;
		position:relative;
		margin-left:10px;
		margin-right:10px;
		float:left;
	}

	.column-one-half,
	.column-one-third,
	.column-one-fourth,
	.column-two-thirds,
	.column-three-fourths   {
		float:left;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:20px;
	}

	.column-one-half        { width:460px; }
	.column-one-third       { width:300px; }
	.column-one-fourth      { width:220px; }
	.column-two-thirds      { width:620px; }
	.column-three-fourths   { width:700px; }



@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container              { width:768px; margin:0 auto; }
    .column                 { width:748px; }
    .column-one-half        { width:364px; }
    .column-one-third       { width:236px; }
    .column-one-fourth      { width:172px; }
    .column-two-thirds      { width:492px; }
    .column-three-fourths   { width:508px; }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container              { width:420px; margin:0 auto; }
    .column       			    { width:420px; margin:0;}
    .column-one-half,
    .column-one-third,
    .column-one-fourth,
    .column-two-thirds,
    .column-three-fourths 	{ width:420px; margin-left:0; margin-right:0; }
}

@media only screen and (min-width: 200px) and (max-width: 479px){
    .container              { width:300px; margin:0 auto; }
    .column       			    { width:300px; margin:0;}
    .column-one-half,
    .column-one-third,
    .column-one-fourth,
    .column-two-thirds,
    .column-three-fourths 	{ width:300px; margin-left:0; margin-right:0; }
}


	.m-a			    { margin:0 auto; }
	.m-top-25		  { margin-top:25px; }
	.m-bottom-25	{ margin-bottom:25px; }
	.m-left-25		{ margin-left:25px; }
	.m-right-25		{ margin-right:25px; }
	.m-top-20		  { margin-top:20px; }
	.m-bottom-20	{ margin-bottom:20px; }
	.m-left-20		{ margin-left:20px; }
	.m-right-15		{ margin-right:20px; }
	.m-top-15		  { margin-top:15px; }
	.m-bottom-15	{ margin-bottom:15px; }
	.m-left-15		{ margin-left:15px; }
	.m-right-15		{ margin-right:15px; }
	.m-top-10		  { margin-top:10px; }
	.m-bottom-10	{ margin-bottom:10px; }
	.m-left-10		{ margin-left:10px; }
	.m-right-10		{ margin-right:10px; }
	.m-top-5		  { margin-top:5px; }
	.m-bottom-5		{ margin-bottom:5px; }
	.m-left-5		  { margin-left:5px; }
	.m-right-5		{ margin-right:5px; }
