/* $MEDIA QUERIES ------------------------------------------------------------------------------------------- */
  $break-small:   479px;
  $break-medium:  768px;
  $break-large:   959px;

  @mixin respond-to($media) {
    @if $media == handhelds {
      @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
      @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: $break-medium) and (max-width: $break-large) { @content; }
    }
  }

  .selector {
    @include respond-to(handhelds) {}
    @include respond-to(medium-screens) {}
    @include respond-to(wide-screens) {}
  }

/* ------------------------ ADD LATER ---------------------------------- */

  $xsmall:  480px;
  $small:   600px;
  $medium:  768px;
  $large:   960px;
  $xlarge:  1200px;

  @mixin respond-to($media) {
    @if $media == handhelds {
      @media only screen and (min-width: $xsmall) { @content; }
    }
    @else if $media == small-tablet  {
      @media only screen and (min-width: $small) { @content; }
    }
    @else if $media == big-tablet {
      @media only screen and (min-width: $medium) { @content; }
    }
    @else if $media == desktop {
      @media only screen and (min-width: $large) { @content; }
    }
    @else if $media == widescreen {
      @media only screen and (min-width: $xlarge) { @content; }
    }
  }

   .selector {
    @include respond-to(handhelds) {}
    @include respond-to(small-tablet) {}
    @include respond-to(big-tablet) {}
    @include respond-to(desktop) {}
    @include respond-to(widescreen) {}
  }