// Global Variables

  $darkPink:  #FF3377;
  $lightPink: #FF6699;
  $purple:    #DCB2CA;
  $palePink:  #FBDBE6;
  $darkGray:  #333333;
  $white:     #FFFFFF;
  $black:     #000000;
  $lightGray: #CCCCCC;

  %sansFont {font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;}
  %serifFont {font-family:"IM Fell French Canon", Baskerville, "Goudy Old Style","Palatino","Book Antiqua",serif;}

  %parallax {
  	width:100%;
  	height:400px;
  	float:left;
  	clear:both;
  	background:$lightGray;
  	z-index: 9999;
  	position:relative;
  	.ie7 & { display: none; }
  }

  %parallaxBG {
  	background-size: cover;
  	height: 400px;
  	margin: 0 auto;
  	padding: 0;
  	position: absolute;
  	width: 100%;
  	z-index: 9999;
  }

  $break-small:   479px;
  $break-medium:  768px;
  $break-large:   959px;

  @mixin respond-to($media) {
    @if $media == handhelds {
      @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
      @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: $break-medium) and (max-width: $break-large) { @content; }
    }
  }