@import "normalize";
@import "variables";
@import "animations";

/*--------

  author: Mina Markham
  updated: 01/26/13
  for: http://mina.is/here/

---------*/

/* $TYPE ------- font: font-style font-variant font-weight font-size/line-height font-family; --------------- */
	body {
  	padding:0;
  	margin:0;
  	width:100%;
  	height:100%;
  	font-size:14px;
  	-webkit-font-smoothing: antialiased;
  	-webkit-text-size-adjust: 100%;
  	line-height:1.4;
  	@extend %sansFont;
  }
	p {
  	font-size:14px;
  	color:#000F17;
  	margin-top:0;
  	margin-bottom:15px;
  }
	.amp {
  	@extend %serifFont;
  	font-style:italic;
  }
	a {
  	color: $darkPink;
  	text-decoration: none;
  	//border-bottom: 1px black dotted;
  	-webkit-transition: color 0.2s ease-out;
  	-moz-transition: color 0.2s ease-out;
  	-o-transition: color 0.2s ease-out;
  	-ms-transition: color 0.2s ease-out;
  	transition: color 0.2s ease-out;
  	&:hover {
    	text-decoration:none;
    	color: #B2AFAF;
    }
  }
	i {
  	margin-right: .5em;
  }
	mark {
  	background: $darkPink;
  	padding: .05em .2em;
  	color: $white;
  }
	h1, h2, h3, h4, h5, h6 {
  	font-weight:normal;
  	color: $lightPink;
  	margin:0 0 15px 0;
  }
	h1 {
  	font-size: 70px;
  	text-transform: uppercase;
  	font-weight: 100;
  }
	h2 {
  	font-size: 40px;
  	line-height: 110%;
  }
	h3 {
  	font-size: 30px;
  }
	h4 {
  	font-size: 24px;
  	color: $white;
  	font-weight: bold;
  	margin-top: 50px;
  	text-shadow: 0px 0px 2px #000;
  }
	h5 {
  	font-size: 16px;
  	color: $darkGray;
  }
	h6 {
  	font-size: 14px;
  }
	ul {
  	margin-left: 1.5em;
  	padding-left: 0;
  }
	li {
  	margin-bottom: .25em;
  }
	.serif {
  	@extend %serifFont;
  	font-size:2em;
  	letter-spacing:-.5px;
  	line-height:1em;
  	text-transform:lowercase;
  	color: #000;
  }
	.serifItalic {
  	@extend .serif;
  	font-style:italic;
  }

/* $NAVIGATION -------------------------------------------------------------------------------------------- */
  nav {
    width:100%;
    background:#000f17;
    height:45px;
    float:left;
    clear:both;
    z-index:10000;
    position:relative;
    border:none;
    ul.menu {
      list-style-type:none;
      text-align:center;
      margin:13px 0 0 10px;
      padding:0;
      float:left;
      @include respond-to(handhelds) {margin:13px 0 0 0; }
      @include respond-to(medium-screens) {margin:13px 0 0 0; }
      li {
        display:inline-block;
        margin:0 20px 0 0;
        font-size:14px;
        line-height:1;
        @extend %sansFont;
        text-transform: uppercase;
        font-weight: normal;
        @include respond-to(handhelds) {margin:2px 5px 0 0;font-size:12px;}
        @include respond-to(medium-screens) { margin:0 10px 0 0;font-size:12px;}
        @include respond-to(wide-screens) {margin:0 15px 0 0; }
        &.current a {
          color: $lightPink;
        }
        a {
          text-decoration:none;color:$white;
          -webkit-transition:color 0.7s ease-in;
          -moz-transition:color 0.7s ease-in;
          -o-transition:color 0.7s ease-in;
          transition:color 0.7s ease-in;
          &:hover {
            color: $lightPink;
          }
        }
      }
    }
  }

  .sticky-wrapper {
    float:left;
    width:100%;
  }

  ul.social {
    list-style-type:none;
    text-align:center;
    margin:0;
    padding:0;
    float:right;
    border:none;
    position:relative;
    @include respond-to(handhelds) { display:none;}
    @include respond-to(medium-screens) { display:none;}
    li {
      float: left;
      margin: 10px 2px;
      font-size: 1.25em;
      a {
        color: $white;
        &:hover {
          color: $lightPink;
        }
      }
    }
  }

/* $LAYOUT (global) ----------------------------------------------------------------------------------------- */
	header {
    width:100%;
    height: 100%;
    float: left;
    .ie8 & { display: none; }
  }
	#about,
	#works,
	#contact,
	#services,
	#dribbble,
	#work_single {
  	background:$white url("../img/pattern2.png") repeat;
  	padding:50px 0;
  	width:100%;
  	margin:0;
  	padding:0;
  	float:left;
  	z-index:9999;
  	position:relative;
  }
	.site {
  	background:$white url("../img/pattern2.png") repeat;
  	width:100%;
  	margin:0 auto;
  	padding:0;
  }
	.title {
  	padding:14px 0 2px 0;
  	border-bottom:1px solid $lightPink;
  	float:left;
  	margin:30px 0;
  	text-align:left;
  	h1 {
    	color:$lightPink;
    	margin:0;
    	padding:0;
    	@extend %sansFont;
      @include respond-to(handhelds) { font-size:45px;text-align: center; }
      @include respond-to(medium-screens) { font-size:80px; }
    }
  }

/* $LAYOUT (Heading) --------------------------------------------------------------------------------------- */
	.headermask {
  	width:100%;
  	height:100%;
  	float:left;
  	z-index:11;
  	background:url("../img/bg3.jpg") no-repeat;
  	background-size: cover;
  	position:fixed;
  }

	.header-title {
  	position:fixed;
  	text-align:center;
  	z-index:10;
  	top: 50px;
  	left: 0;
  	width: 300px;
    @include respond-to(handhelds) { left:0; top: 50px; }
  	span {
    	color: #000;
      @include respond-to(handhelds) { font-size:25px; }
      @include respond-to(medium-screens) { font-size:40px; }
      @include respond-to(wide-screens) { font-size:50px; }
    	&.big { font-size:100px; }
    }
    a.enter {
      margin:20px auto;
      display:block;
      text-decoration:none;
      color:$darkPink;
      font-size:2em;
      border: none;
      @include respond-to(handhelds) { margin:15px auto; width:150px; font-size:15px; }
      @include respond-to(medium-screens) { margin:15px auto; width:150px; font-size:15px; }
      @include respond-to(wide-screens) { margin:15px auto; width:150px; font-size:15px; }
    }
  }

  .header-subhead {
    width: 460px;
    position: fixed;
    bottom: 48%;
    left: 8%;
    text-align: center;
    @include respond-to(handhelds) { left: 25px;}
    @include respond-to(medium-screens) { }
    @include respond-to(wide-screens) { }
    h3 { font-size: 1.3em;}
    a { text-decoration: none; }
  }

	.subpages {
  	list-style-type: none;
  	position: relative;
  	top: 10px;
  	left: 15px;
  	li {
    	display: inline;
    	a { border: none; }
    	&:after { content: "/"; margin: 0 .5em; }
    	&:last-child:after { content: ""; margin: 0; }
    }
  }

	.logo {
  	text-align:center;
  	margin:0 0 20px 0;
    @include respond-to(handhelds) { text-align:center; margin:0 0 10px 0; }
    @include respond-to(medium-screens) { text-align:center; margin:0 0 10px 0; }
    @include respond-to(wide-screens) { text-align:center; margin:0 0 10px 0; }
  }

  #monogram {
    background: rgba(255, 102, 153, 0.9);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    right: 1em;
    top: 1em;
    img { margin: .85em; max-width: 25px; }
  }

  #statement {
    color: #333;
    font-size: 1.5em;
  }

  #refresh {
    font-size: .8em;
    a { border: none; }
  }

  .btn {
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    margin-top: 25px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    clear: both;
    i { margin-left: .25em; }
    &:hover, &:hover span {
      border-color: #f37;
      color: #f37;
    }
    span { font-weight: bold; }
  }
/* $LAYOUT (About) ----------------------------------------------------------------------------------------- */
  #facts {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }

/* $LAYOUT (Skills) ---------------------------------------------------------------------------------------- */
	#skillsKnow,
	#skillsGrow {
  	margin-bottom: 2em;
  }
	.labels {
  	float: left;
  	margin: 20px 1.25em 0 0;
  	p {
  	 margin-bottom: 4.5em;
  	 text-align: right;
  	}
  }

	#skillsGraph {
	 margin:20px 0 0 0;
	 padding:0;
	 list-style:none;
	 border-top: 1px dashed $lightGray;
	 float: right;
	 li {
	   width:30px;
	   height:420px;
	   margin:0 5px;
	   position:relative;
	   float:left;
	   a {
	     position:absolute;
	     bottom:0;
	     width:100%;
	     height:0;
	     background:$lightPink;
	     border: none;
	     text-indent: -99999px;
	     -webkit-transition: background 0.2s ease-out;
	     -moz-transition: background 0.2s ease-out;
	     -o-transition: background 0.2s ease-out;
	     -ms-transition: background 0.2s ease-out;
	     transition: background 0.2s ease-out;
	     :hover { background: $darkPink; }
	   }
	 }
	}
	#tooltip {
  	position:absolute;
  	bottom:80px;
  	background-color: $white;
  	background-color:rgba(255, 255, 255, 0.9);
  	padding:2px 10px;
  	display:none;
  	border-radius:4px;
  	box-shadow:0px 0px 2px $darkGray;
  	z-index:99;
  	color:#111;
  	font-size:18px;
  	border: 1px solid $white;
  }
	.y-axis {
  	color: #000;
  	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  	position: relative;
  	left: -120px;
  	bottom: 200px;
  	text-transform: uppercase;
  	float: left;
  }


/* $LAYOUT (Projects) -------------------------------------------------------------------------------------- */
	.item {
  	float: left;
  	max-width: 16.66666666667%;
  	margin: 0;
  	position: relative;
  	a{border: none;}
  }

  #thumbs {
    float: left;
  	width: 100%;
  	list-style-type: none;
  	a {
    	&:hover div {
      	height: 40%;opacity: 1;
      }
    }
    div {
      display: block;
      background: rgba(255,51,119,0.7);
      color: #fff;
      padding: 5% 3%;
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 94%;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      font-size: 1.1em;
      text-align: center;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    h5{color: #fff; font-weight: 600; }
    i{margin: 0 .25em}
    li{float: left;}
  }

	.fancybox img{max-width: 100%;}

	.desaturate {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }

/* $LAYOUT (Contact) --------------------------------------------------------------------------------------- */
  #dribbble {
    background: $palePink url("../img/pattern2.png") repeat;
    padding: 30px 0;
  }
  .column-one-fourth img{margin-top: 20px;}

/* $FOOTER ------------------------------------------------------------------------------------------------- */
	footer {
  	background:#000f17 url("../img/pattern1.png") repeat;
  	text-align:center;
  	padding:20px 0;
  	width:100%;
  	margin:0;
  	float:left;
  	z-index:9999;
  	position:relative;
  	p {
    	color:#777;
    	@extend %sansFont;
    	font-size:14px;
    	margin:5px 0 0 0;
    	a {
      	color:#777;
      	text-decoration:none;
      	-webkit-transition:color 1s ease-in;
      	-moz-transition:color 1s ease-in;
      	-o-transition:color 1s ease-in;
      	transition:color 1s ease-in;
      	&:hover{color: $white;}
      }
    }
  }

/* $PARALLAX ---------------------------------------------------------------------------------------------- */
	#parallax1 {
    @extend %parallax;
  	.bg1 {
      @extend %parallaxBG;
    	background: url("../img/parallax/bg4.jpg") 50% 0 repeat fixed;
    }
  }

  #parallax2 {
    @extend %parallax;
    .bg2 {
      @extend %parallaxBG;
      background: url("../img/parallax/bg2.jpg") 50% 0 repeat fixed;
    }
  }

  #parallax3 {
    @extend %parallax;
    .bg3 {
      @extend %parallaxBG;
      background: url("../img/parallax/bg1.jpg") 50% 0 repeat fixed;
    }
  }

  #parallax4 {
    @extend %parallax;
    .bg4 {
      @extend %parallaxBG;
      background: url("../img/parallax/bg4.jpg") 50% 0 repeat fixed;
    }
  }

	.bg-mask {
  	width:100%;
  	height:100%;
  	background:url("../img/pattern3.png") repeat;
  	float:left;
  	position:absolute;
  	text-align:center;
  	h2 {
    	color: $white;
    	background:rgba(255, 102, 153, 0.6);
    	padding:10px 40px;
    	border-radius:5px;
    	width: 61%;
    	margin: 4em auto;
      @include respond-to(handhelds) { margin:180px 0; font-size:22px; }
      @include respond-to(medium-screens) { margin:180px 0; font-size:30px;}
      span {
        @include respond-to(handhelds) { padding:10px 20px; }
        @include respond-to(medium-screens) { padding:10px 20px;}
      }
    }
  }

	#slides {
  	h2 {
    	margin:10px auto 30px auto !important;
    	width: 70% !important;
    	color: $white;
    }
  	p {
    	color: $white;
    	font-weight: bold;
    	text-shadow: 0px 0px 2px #000;
    	background: rgba(0,0,0,0.7);
    	padding: 1em;
    	border-radius: 5px;
    	width: 300px;
    	width: intrinsic;
    	margin: -20px auto 0 auto;
    }
  }
	#tweet {
  	width: 80%;
  	max-width: 800px;
  	margin: 4em auto 0 auto !important;
  	text-align: center;
  	@extend %sansFont;
  	font-size: 24px;
  	color: $white;
  	line-height: 1.4;
  	margin: 7px 0 12px 0;
  	font-weight: bold;
  	background: rgba(0,0,0,0.7);
  	padding: 1em;
  	border-radius: 5px;
  	@include respond-to(handhelds) { margin: 4em auto; font-size: 1.5em; }
  	ul li { list-style-type: none; }
  }
	.twitter-date a {
  	font-size: .75em;
  	text-transform: uppercase;
  	font-weight: 600;
  	border: none;
  }

  @mixin sliderNav($direction, $float) {
    text-indent: -10000px;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: -150px 50px 0 50px;
    position: relative;
    z-index: 3000;
    border: none;
    background: image-url($direction) no-repeat;
    float: $float;
  }

	.prev { @include sliderNav("prev.png",left); }
	.next { @include sliderNav("next.png",right); }

	.contentSlider {
  	width: 100%;
  	.rsSlide,
  	.rsOverflow {
    	background: none;
    }
  	h3 {
    	font-size: 24px;
    	line-height: 31px;
    	margin: 12px 0 8px;
    	font-weight: bold;
    }
  	img {
    	max-width: 100%;
    	height: auto;
    	display: block;
    }
  }
	.content-slider-bg {
  	width: 86%;
  	padding: 24px 7%;
  	background: #eee;
  }

/* $MEDIA --------------------------------------------------------------------------------------------------- */
	img, embed, object, video, iframe { max-width:100%; border:0; } /* makes all media responsive */

/* $FORMS --------------------------------------------------------------------------------------------------- */
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: .25em 1em;
  font-size: .7em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  border: 3px solid #333;
  color: #333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:hover,
  &:active {
    color: #f37;
    border-color: #f37;
  }
}

/* general style for the form */
.nl-form {
  width: 100%;
  margin: 0 auto;
  font-size: 2.5em;
  line-height: 1.5;
  float: left;
}

.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form textarea {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nl-form input:focus {
  outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select,
.nl-form textarea  {
  line-height: inherit;
  display: inline-block;
  color: #f37;
  cursor: pointer;
  border-bottom: 1px dashed #f37;
}
.nl-form textarea {
  width: 100%;
  border: 1px dashed #f37;
  margin: .5em 0;
  padding: .5em;
  &:focus {outline: none;}
}
/* drop-down list / text element */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #FF99BB;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  color: #fff;
  position: relative;
}

.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: #000;
}

.no-touch .nl-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
  color: #478982;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

.nl-ti-text ul {
  min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
  color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0,0,0,0.5);
  border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}
.nl-submit-wrap {
  margin: 1em 0;
  text-align: center;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

#message {
  margin: -30px 0 10px;
  padding: 0;
  width: 98%;
  float: left;
  clear: both;
}

.error_message { 
  display: block; 
  height: 22px; 
  line-height: 22px;
  background: #FBE3E4;
  padding: 3px 10px 3px 15px;
  color:#8a1f11;
  border: 1px solid #FBC2C4;
}
.error_message::before {
  content: '\F071';
  font-family: "FontAwesome";
  margin-right: 1em;
}

.loader { padding: 0 10px; }

#success_page h3 { background: url('../assets/success.gif') left no-repeat; padding-left:22px; }

@media screen and (max-width: 45em) {
  .nl-form {
    font-size: 3em;
  }
}

@media screen and (max-width: 25em) {
  .nl-form {
    font-size: 2em;
  }
}

/* $FONT-FACE ----------------------------------------------------------------------------------------------- */
  @font-face {
    font-family: 'nlicons';
    src:url('fonts/nlicons.eot');
    src:url('fonts/nlicons.eot?#iefix') format('embedded-opentype'),
      url('fonts/nlicons.woff') format('woff'),
      url('fonts/nlicons.ttf') format('truetype'),
      url('fonts/nlicons.svg#nlicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
	@font-face {
    font-family: 'socialicoregular';
    src: url('fonts/socialico-webfont.eot');
    src: url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socialico-webfont.woff') format('woff'),
         url('fonts/socialico-webfont.ttf') format('truetype'),
         url('fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}