$small: 20em;
$medium: 48em;
$large: 56.25em;
$xlarge: 81.25em;

@mixin respond-to($media) {
  @if $media == handhelds  {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == widescreen {
    @media only screen and (min-width: $xlarge) { @content; }
  }
}

.profile-pic {
  float: left;
  width: 100%;
  @include respond-to(handhelds) { width: 50% ;}
  @include respond-to(tablet) { width: 33.333333333%;}
  @include respond-to(desktop) { width: 25%;}
  @include respond-to(widescreen) { width: 20%;}
}
