// variables
$small:  20em;
$medium: 48em;
$large:  56.25em;

// mixins
@mixin respond-to($media) {
  @if $media == handhelds  {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $large) { @content; }
  }
}


header {
  @include grid-row;
  @include respond-to (desktop) {
    img { @include grid-column(3); } 
    nav { @include grid-column(4, false, false, false, false, false, false, right);} 
  }
}
.intro, .conclusion { 
  @include grid-row;
  margin-top: 20px;
  font-weight: bold;
  @include respond-to (desktop) {
    h3 { @include grid-column(2); }   
    p { font-weight: bold; @include grid-column(9, false, false, 1, false, false, false);}
  }
}
.hero { 
  @include grid-row;
  @include respond-to (desktop) {
    img, p { 
      @include grid-column(9, false, false, 3, false, false, false);
      margin-top: 20px;
    }
  }
}
.second {
  @include grid-row;
  @include respond-to (desktop) {
    p {@include grid-column(9, false, false, 3, false, false, false);}
  }
}
.third {
  @include grid-row;
  aside {@include panel;}
  @include respond-to (desktop) {
    aside {
      @include grid-column(5); 
      @include panel;
    }
    section {@include grid-column(7); }
  }  
}

.last {
  @include grid-row;
  @include respond-to (desktop) {
    img {@include grid-column(3, false, false, 2, false, false, false);}
    p {@include grid-column(7); }
  }  
}
