/* line 21, ../scss/example1.scss */
.profile-pic {
  float: left;
  width: 100%;
}
@media only screen and (min-width: 20em) {
  /* line 21, ../scss/example1.scss */
  .profile-pic {
    width: 50%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 21, ../scss/example1.scss */
  .profile-pic {
    width: 33.333333333%;
  }
}
@media only screen and (min-width: 56.25em) {
  /* line 21, ../scss/example1.scss */
  .profile-pic {
    width: 25%;
  }
}
@media only screen and (min-width: 81.25em) {
  /* line 21, ../scss/example1.scss */
  .profile-pic {
    width: 20%;
  }
}
