/*
 * GLOBAL STYLES
 ---------------------------------------*/
body { 
  background: #333; 
  font-weight: 100;
  letter-spacing: .1em;
}

.reveal {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.95em;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }
.reveal pre {background: #262626;}
.reveal code { 
  font-family: "Inconsolata"; 
  font-size: 1.2em !important;
  line-height: 1.1;
} 

/*
 * HEADERS
 ---------------------------------------*/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.reveal h1 {
  font-size:1.61111em;
  line-height:2.00859em;
  color: #f37;
  text-transform: uppercase;
}
.reveal h2 {
  font-size:1.44444em;
  line-height:2.24035em;
  text-transform: uppercase;
}
.reveal h3 {
  font-size:1.33333em;
  line-height:1.21353em;
}
.reveal h4 {
  font-size:1.22222em;
  line-height:1.32385em;
}
.reveal h5 {
  font-size:1.11111em;
  line-height:1.45623em;
}
.reveal h6 {
  font-size:1em;
  line-height:1.61803em
}
.reveal blockquote {
  color:#fdd8e9;
  text-align:center;
  width: 100%;
  background: none;
  box-shadow: none;
}
.reveal blockquote cite {
  display: block;
  color:#eaeaea;
  font-size:0.75em;
  font-weight:100;
}
.reveal blockquote cite:before {
  content: "\2014 \0020"; 
  }
.reveal p {letter-spacing: .12em;}
.reveal .overlay {
  font-weight: 700;
}
.reveal h2.overlay {color: red;}
ul.fragments,
ol.fragments {
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  margin-top:0.80902em;
}
ul.fragments.small,
ol.fragments.small {
  font-size:1em
}
ul.fragments li,
ol.fragments li {
  margin-bottom:0.40451em
}
#credits li {
  font-size: .6em; 
  line-height: 1.2;
  list-style-type: none;
  text-align: center;
  margin-bottom: .5em;
}

/*
 * LINKS
 ---------------------------------------*/
.reveal a:not(.image) {
  color: #F37;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:not(.image):hover {
  color: #f37;
  text-shadow: none;
  border: none; 
}

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; 
}

/*
 * IMAGES
 ---------------------------------------*/
.reveal section img {
  background: rgba(0,0,0, 0.05);
  padding: 1em;
}

/*
 * NAVIGATION CONTROLS
 ---------------------------------------*/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #F37; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #F37; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #F37; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #F37; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #71e9f4; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #71e9f4; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #71e9f4; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #71e9f4; }

/*
 * PROGRESS BAR
 ---------------------------------------*/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #F37;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*
 * STATES
 ---------------------------------------*/
.adioso .state-background {background: #f7f5f2;}
.adioso #counter {color:#333}


/*
 * PAGE COUNTER
 ---------------------------------------*/
#counter {
  position:absolute;
  left:1em;
  bottom:1em;
  z-index:100;
  font-size:.5em;
  color: #f37;
}

/*
 * FONTS
 ---------------------------------------*/

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../lib/font/Nexa_Free_Light-webfont.eot');
    src: url('../lib/font/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/font/Nexa_Free_Light-webfont.woff') format('woff'),
         url('../lib/font/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('../lib/font/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_boldregular';
    src: url('../lib/font/Nexa_Free_Bold-webfont.eot');
    src: url('../lib/font/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/font/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../lib/font/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../lib/font/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}