/*--------
author:
updated:
for:

colors
-------------

--------- */

/* CONTENTS ------------------------------------------------------------------------------------------------ */
/*
	1 :: $NORMALIZE
	2 :: $TYPE
	3 :: $LAYOUT (global)
	4 :: $LAYOUT (custom)
	5 :: $MEDIA
	6 :: $FORMS / TABLES
	7 :: $BROWSER / NON-SEMANTIC
	8 :: $PLUGINS
	9 :: $FONT-FACE
   10 :: $MEDIA QUERIES
   11 :: $PRINT
*/

/*! @NORMALIZE v2.0.1 | MIT License | git.io/normalize ------------------------------------------------------ */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* $TYPE ------- font: font-style font-variant font-weight font-size/line-height font-family; --------------- */
	/* FONT STACKS
		font-family: Helvetica Neue, Arial, Helvetica, sans-serif
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif
		font-family: Courier New, Courier, monospace
	*/

	body, h3, h4, h5, h6, .run-in, dt {font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	h1, h2, .pullquote, blockquote, .sidenote h1, aside h1, .pullquote, .drop-cap, cite  {font-family: "Maiden Orange", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;}

	/*Size & Vertical Rhythm*/
	body{font-size:87.5%;font-size:14px;line-height:1.5em;}

	/*HTML Standard Elements*/
	h1{font-size:7em; margin: 0; text-transform: uppercase; letter-spacing: -.05em; text-align: center;}
	h2{font-size:6em;line-height:1.1em; background: url("../img/line.png") repeat-x 0% 50%; text-align: center; width: auto; margin: 0 0 .5em 0;}
	h2 span{background: white; padding: 0 10px;}
	h3{font-size:4em;line-height:1.333em; margin: 0; text-align: center; font-weight: normal;}
	h4{font-size:3em;line-height:1.1em;}
	h5{font-size:2em;line-height:1.333em; text-transform: uppercase;}
	h6{font-size:1em;line-height:1.1em;}
	h1 + img, h2 + img{margin-top:1em;}
	h1, h2, h4, h5, h6{font-weight:100;}
	small{display:block;font-size:.75em;letter-spacing:.05em;font-style:italic;line-height:1.75em;}
	ul{list-style-position:outside;list-style-type:disc;line-height:1.5;}
	li{margin-bottom:.75em;}
	ol{list-style-position:outside;list-style-type:decimal;}
	blockquote{font-style:italic;line-height:1.6em;}
	blockquote:before{font-family:Georgia, serif;content: "“";font-size:2.75em;text-indent:-.8em;margin-top:.1em;float:left;opacity:.3;}
	cite{display:block;text-transform:uppercase;letter-spacing:.2em;margin-top:1.5em;margin-left:1em;font-weight:900;font-style:normal;font-size:.8em;}
	cite:before{content:"— ";margin-left:-3.4em;margin-right:.9em;opacity:.3;}
	pre{margin:1.5em;}
	dl{margin:1.75em 0 1.75em;}
	dt{font-style:italic;margin-top:1.25em;font-size:1.13em;font-weight:700;border-bottom:1px solid #999;background:#DDD;}
	dd{font-style:italic;font-size:.85em;margin-top:1em;line-height:1.6em;}
	abbr{text-transform:uppercase;font-size:.9em;letter-spacing:.1em;}
	p {font-size: 2em; line-height: 1.1; margin-bottom:0;hyphenate: auto;hyphenate-before:2;hyphenate-after:3;hyphenate-lines: 3;orphans:4}
	p span.pullquote{text-indent:0;}
	a:link{	color:#F37;
		-webkit-transition: color 0.2s ease-out;
		-moz-transition: color 0.2s ease-out;
		-o-transition: color 0.2s ease-out;
		-ms-transition: color 0.2s ease-out;
		transition: color 0.2s ease-out;
	}
	a:visited {}
	a:hover   {}
	a:active  {}
	::selection{background: rgba(255,52,120,0.5);}

	/*Compositional Elements*/
	.kicker{font-size:1.25em;line-height:1.693em;/*font-style:italic;*/margin:-.35em 0 -.35em;}
	.kicker, .pullquote{font-weight:100;}
	.run-in{font-style:italic;font-weight:bold;}
	.superscript{font-family:arial, sans-serif;vertical-align:super;font-size:75%;margin-right:.4em;text-transform:lowercase;font-variant:small-caps;letter-spacing:.1em;line-height:0;}
	.subscript{font-family:arial, sans-serif;vertical-align:sub;font-size:75%;margin-right:.4em;text-transform:lowercase;font-variant:small-caps;letter-spacing:.1em;line-height:0em;}
	a.superscript, a.subscript{text-decoration:none;}
	aside, .sidenote{font-size:.83em;font-style:italic;margin-top:1.25em;}
	aside h1, .sidenote h1{text-transform:uppercase;font-size:1em;line-height:1.5em;font-style:normal;font-weight:900;}
	aside p, .sidenote p{line-height:1.7em;margin:1.3em 0;font-style:normal;}
	aside ul, aside ol, .sidenote ul, .sidenote ol{margin-top:1.3em;line-height:1.7em;}
	aside ul li, aside ol li, .sidenote ul li, .sidenote ol li{margin-bottom:1.3em;}
	.pullquote{font-style:italic;letter-spacing:.05em;margin:.5em .7em .3em 0em;padding-top:.15em;line-height:1.7em;display:block;float:left;font-size:1.6em;width:55%;}
	.pullquote:before {font-family:Georgia, serif;content: "“";font-size:2em;text-indent:-.8em;margin-top:.05em;float:left;opacity:.3;}
	.footnote{border-top:1px solid black;font-size:.75em;margin-top:3.5em;}
	.footnote li{margin:1.5em 0 1.5em;word-spacing:.1em;line-height:1.75em;}
	.caption{font-size:.8em;font-style:italic;margin:.6em 0 -.2em;}
	.kicker .run-in{text-transform:uppercase;font-style:normal;letter-spacing:.25em;font-size:.9em;}
	.drop-cap {display:block;font-style:normal;font-size:5.1em;float:left;margin:.13em .1em 0 0;line-height:.67em;font-weight:100;}

	/*Tweaks*/
	.kern{letter-spacing:-.1em;}

/* $LAYOUT -------------------------------------------------------------------------------------------------- */
	html, body {height: 100%;}
	.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}
	body{background: url(../img/swirl.png);}
	.top-bar{background: #f37; width: 100%; height: 45px; margin-bottom: 1em; position: fixed; top: 0; left: 0; z-index: 2000;}
	#intro {height: 700px;}
	nav li{color: #fff; text-transform: uppercase; font-size: 2em; margin-right: 2em;}
	nav li:last-child{margin-right: 0;}
	/* 	sticky footer */
	.site{width: 90%; min-height: 100%; height: auto !important; height: 100%; margin: 150px auto -50px;}
	footer, .push {height: 50px;}
	footer{background: black; color: white; padding: 1em;}
	section{margin: 1em 0;}
	.pink svg{fill: #f37;}
	object{margin: 0 auto;}
	#texas{width: 700px; height:700px !important; position: relative; z-index: 0; margin: 0 auto;}
	#marker{position: relative; z-index: 100; top: -500px; left: 180px;}
	#ring{margin: 0; width: 74px; height: 100px;
		-webkit-transform: rotate(-25deg);
	}
	.centered{text-align: center;}
	.top-bar a{color: #fff; text-decoration: none;}

/* $LAYOUT (custom) ----------------------------------------------------------------------------------------- */

/* $LAYOUT (Analytics) ---------------------------------------------------------------------------------- */
	.screening-meta{margin-top: 150px;}
	.status{font-size: 1.5em; text-align: center; font-weight: normal;}
	.infographic{margin-right: 2em; text-transform: uppercase; height: 200px;}
	.infographic:last-child{margin-right: 0;}
	.infographic .chart{position: relative;}
	.infographic .counter{font-family: "Maiden Orange", Georgia, serif; font-size: 2em; position: relative; top:-110px; left: 50px; float: left; clear: both; text-align: center;}
	.infographic p{text-align: center;}
	.infographic .counter-title{ position: relative; top:-110px; font-size: .9em; left: 50px;float: left; clear: both; text-align: center;}
	.big-digits {font-family: "Maiden Orange", Georgia, serif; display: block; width: 100%; color: #F37; font-size: 5em; line-height: 100%; font-weight: 700; text-align: center;}
	.recommend-pie-legend {position: absolute;top: 108px;left: 0px;width: 90px;height: 20px;font-family: "Maiden Orange", Georgia, serif;border-bottom: 2px solid #F37; }
	#recommend-pie-no {left: auto;right: -20px;text-align: right;border-bottom: 2px solid #332E2A; }
	p.stats{text-align: center; width: auto; margin: 0;}
	p.stats span{padding: 0 10px;}
	.donuts{float: left;}
	.line-chart{margin-top: 2em; }
	.line-chart-legend { position: absolute; bottom: 50px; left: 45px; width: 120px; height: 20px; border-bottom: 2px solid #F37; padding-bottom: 1.5em;}
	.line-chart .dark {left: 180px;border-bottom: 2px solid #000; }

	#y-axis {
	  position: absolute;
	  left: -117px;
	  bottom: 117px;
	  width: 235px;
	  -webkit-transform: rotate(-90deg) translate(117px, -117px);
	  -moz-transform: rotate(270deg);
	  -o-transform: rotate(270deg);
	  -ms-transform: rotate(270deg);
	  transform: rotate(270deg); }

	#y-axis {left: 0px;bottom: 0px; }

	#y-axis {left: -117px;bottom: 117px; }

	#y-axis {
	  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')";
	  filter: progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, 		M12=1, 		M21=-1, 		M22=3.061616997868383e-16, 		SizingMethod='auto expand');}

	#y-axis {bottom: 0;left: 0px; }

	#x-axis {position: absolute;bottom: 0px;left: 0px;width: 300px; }

/* $MEDIA --------------------------------------------------------------------------------------------------- */
	img, embed, object, video, iframe {max-width:100%; border:0;} /* makes all media responsive */
	#bride, #computer, #gay, #handcuffs{margin-left: 30%;}

/* $FORMS --------------------------------------------------------------------------------------------------- */

/* $BROWSER / NON-SEMANTIC ---------------------------------------------------------------------------------- */

/* $PLUGINS ------------------------------------------------------------------------------------------------- */

/* $FONT-FACE ----------------------------------------------------------------------------------------------- */
@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.eot'); /* IE9 Compat Modes */
	src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('webfont.woff') format('woff'), /* Modern Browsers */
	     url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

/* $MEDIA QUERIES ------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) {  /* 480  */
}

@media only screen and (min-width: 600px) {  /* 600 */
}

@media only screen and (min-width: 768px) {  /* 768 */
}

@media only screen and (min-width: 960px) {  /* 960 */
}

@media only screen and (min-width: 1200px) { /* 1200 */
}

/* $PRINT --------------------------------------------------------------------------------------------------- */
@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	body, #content, #container { width: 100%;  margin: 0; float: none; background: #fff url(none);}
	nav, footer, img, .ad, .noprint { display: none;}
	body {font: 1em Georgia, "Times New Roman", Times, serif; color: #000;}
	h1,h2,h3,h4,h5,h6 {font-family: Helvetica, Arial, sans-serif;  color: #000;}
	h1 { font-size: 250%; }
	h2 { font-size: 175%; }
	h3 { font-size: 135%; }
	h4 { font-size: 100%; font-variant: small-caps; }
	h5 { font-size: 100%; }
	h6 { font-size: 90%; font-style: italic; }
	a:link, a:visited { color: #f37; font-weight: bold; text-decoration: underline; }
	#content a:link:after, #content a:visited:after { content: " (" attr(href) ") ";	}
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}

